Repository mozilla-releng/fxci-config: changes, and which Taskcluster tasks are due for each by the changed paths.
All: unit-build-decision, unit-fxci-config-taskgraph

unit-build-decision:
  description: Run build-decision `unit tests` to validate the latest changes
  run:
    command: pip install --user -r build-decision/requirements/test.txt && pip install --user --no-deps build-decision/. && pytest build-decision/tests/ -vv

unit-fxci-config-taskgraph:
  description: Run fxci_config_taskgraph unit tests to validate the latest changes
  run:
    command: pip install --user -r requirements/test.txt && pip install --user --no-deps . && pytest taskcluster/test/ -vv

[RELOPS-1411] promote new d-w images to prod (#428)
  worker-images.yml
  worker-pools.yml
Due: none

Remove test worker pools from bug 1862675
  worker-pools.yml
Due: none

Remove test worker pools from bug 1862675 (#429)
  worker-pools.yml
Due: none

chore: remove archived mozilla-platform-ops/cloud-image-builder and related resources
  clients.yml
  grants.yml
  projects.yml
Due: none

feat: add mozilla-platform-ops/worker-images repo
  projects.yml
Due: none

update images with tc 85.0.1
  worker-images.yml
Due: none

update images with tc 85.0.1 (#431)
  worker-images.yml
Due: none

add new resources with azure natgw
  src/ciadmin/generate/worker_pools.py
Due: none

ci: fix Gecko os-integration tests
  taskcluster/fxci_config_taskgraph/util/integration.py
  taskcluster/kinds/firefoxci-artifact/kind.yml
  taskcluster/kinds/integration-test/kind.yml
  taskcluster/test/test_transforms_firefoxci_artifact.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

Bug 1972938 - Support comm-esr140 in Firefox-CI
  grants.yml
  projects.yml
Due: none

Bug 1972938 - Support comm-esr140 in Firefox-CI (#433)
  grants.yml
  projects.yml
Due: none

Turn off cron for comm-esr140 for now
  projects.yml
Due: none

Turn off cron for comm-esr140 for now (#434)
  projects.yml
Due: none

Turn off cron for comm-esr140 for real
  projects.yml
Due: none

Turn off cron for comm-esr140 for real (#435)
  projects.yml
Due: none

bug 1961225: feat(build-decision): should retry on some requests exceptions
  build-decision/src/build_decision/repository.py
Due: unit-build-decision

Bug 1961225: feat(build-decision): should retry on some requests exceptions (#437)
  build-decision/src/build_decision/repository.py
Due: unit-build-decision

bug 1973252: chore: grant patricia wong access to run release promotion in L1 repositories
  grants.yml
Due: none

bug 1973252: chore: grant patricia wong access to run release promotion in L1 repositories (#438)
  grants.yml
Due: none

refactor: rename RetryableError to NoPushesError to be more specific
  build-decision/src/build_decision/repository.py
  build-decision/tests/test_repository.py
Due: unit-build-decision

feat: don't fail cron runs when pushlog is empty
  build-decision/src/build_decision/cron/__init__.py
  build-decision/tests/test_cron.py
Due: unit-build-decision

feat: don't fail cron runs when pushlog is empty (#436)
  build-decision/src/build_decision/cron/__init__.py
  build-decision/src/build_decision/repository.py
  build-decision/tests/test_cron.py
  build-decision/tests/test_repository.py
Due: unit-build-decision

remove relops-3 worker pool
  worker-pools.yml
Due: none

remove relops-3 worker pool (#439)
  worker-pools.yml
Due: none

chore: bump pinned dependencies
  build-decision/requirements/base.txt
  build-decision/requirements/test.txt
  requirements/base.txt
  requirements/local.txt
  requirements/test.txt
  taskcluster/requirements.txt
Due: unit-build-decision, unit-fxci-config-taskgraph

chore: bump pinned dependencies (#440)
  build-decision/requirements/base.txt
  build-decision/requirements/test.txt
  requirements/base.txt
  requirements/local.txt
  requirements/test.txt
  taskcluster/requirements.txt
Due: unit-build-decision, unit-fxci-config-taskgraph

chore: update build-decision image in templates
  cron-task-template.yml
  hg-push-template.yml
Due: none

chore: update build-decision image in templates (#441)
  cron-task-template.yml
  hg-push-template.yml
Due: none

update tests to incorporate new resource names
  tests/ciadmin/test_generate_worker_pools.py
Due: none

fix launchconfigIds
  tests/ciadmin/test_generate_worker_pools.py
Due: none

Update Azure Worker Pools with New Resources (#432)
  src/ciadmin/generate/worker_pools.py
  tests/ciadmin/test_generate_worker_pools.py
Due: none

fix: make translations integration tests work without mirroring fetch tasks
  taskcluster/kinds/firefoxci-artifact/kind.yml
  taskcluster/kinds/integration-test/kind.yml
Due: unit-fxci-config-taskgraph

Bug 1965145 - Add new lando scopes for Thunderbird repos
  grants.yml
Due: none

Bug 1965145 - Follow-up: fix bad merge
  grants.yml
Due: none

Path conditions:
  unit-build-decision: any of: build-decision/**
  unit-fxci-config-taskgraph: any of: taskcluster/**
