Repository mozilla-releng/fxci-config: changes, and which Taskcluster tasks are due for each by the changed paths.
All: unit-build-decision, unit-fxci-config-taskgraph

unit-build-decision:
  description: Run build-decision `unit tests` to validate the latest changes
  run:
    command: pip install --user -r build-decision/requirements/test.txt && pip install --user --no-deps build-decision/. && pytest build-decision/tests/ -vv

unit-fxci-config-taskgraph:
  description: Run fxci_config_taskgraph unit tests to validate the latest changes
  run:
    command: pip install --user -r requirements/test.txt && pip install --user --no-deps . && pytest taskcluster/test/ -vv

chore: add staging-reference-browser to projects.yml (#259)
  projects.yml
Due: none

Bug 1941649 - Grant generic action scopes for `mozilla` trust domain scm_level_*
  grants.yml
Due: none

Add support for win11 24h2 hardware workers
  clients.yml
  grants.yml
Due: none

Add support for win11 24h2 hardware workers (#262)
  clients.yml
  grants.yml
Due: none

Bump headless 24.04 image with updated cudnn libraries
  worker-images.yml
Due: none

Bump headless 24.04 image with updated cudnn libraries (#263)
  worker-images.yml
Due: none

deploy tc 77.3.1 to 24h2 aarch64 and x64 pools
  worker-images.yml
Due: none

Update win10 pool
  worker-images.yml
Due: none

Remove uk-west for uk-south
  worker-pools.yml
Due: none

Remove uk-west for uk-south (#267)
  worker-pools.yml
Due: none

Bug 1942053 - remove win2012 worker pools and images
  clients.yml
  worker-images.yml
  worker-pools.yml
Due: none

update win2022 l1 builder to 1.0.1
  worker-images.yml
Due: none

chore: bump to taskgraph 13.0.0
  build-decision/requirements/base.txt
  build-decision/requirements/test.txt
  requirements/base.txt
  requirements/local.txt
  requirements/test.in
  requirements/test.txt
  taskcluster/requirements.txt
Due: unit-build-decision, unit-fxci-config-taskgraph

chore: bump to taskgraph 13.0.0 (#269)
  build-decision/requirements/base.txt
  build-decision/requirements/test.txt
  requirements/base.txt
  requirements/local.txt
  requirements/test.in
  requirements/test.txt
  taskcluster/requirements.txt
Due: unit-build-decision, unit-fxci-config-taskgraph

chore: bump taskgraph in .taskcluster.yml
  .taskcluster.yml
Due: none

chore: bump taskgraph in .taskcluster.yml (#270)
  .taskcluster.yml
Due: none

Bug 1942053 - remove win2012 worker pools and images (#261)
  clients.yml
  worker-images.yml
  worker-pools.yml
Due: none

fix: drop custom inactivity timeouts for translations workers
  worker-pools.yml
Due: none

fix: drop custom inactivity timeouts for translations workers (#271)
  worker-pools.yml
Due: none

deploy tc 77.3.1 to 24h2 aarch64 and x64 pools (#265)
  worker-images.yml
Due: none

update win2022 l1 builder to 1.0.1 (#268)
  worker-images.yml
Due: none

Update win10 pool (#266)
  worker-images.yml
Due: none

create win2022 l3 trusted image + bump tc to 77.3.1
  worker-images.yml
Due: none

Add missing worker-image in worker-pools
  worker-pools.yml
Due: none

add trusted to a64 24h2 l3 image
  worker-images.yml
Due: none

fix deploymentid
  worker-images.yml
Due: none

create win2022 l3 trusted image + bump tc to 77.3.1 (#272)
  worker-images.yml
  worker-pools.yml
Due: none

Bug 1944293 - adjust provisionerId/workerType for windows arm64 builders
  worker-pools.yml
Due: none

Bug 1944293 - add l1 windows arm64 builders for mozillavpn
  worker-pools.yml
Due: none

feat: add support for rewriting dependencies to local versions in integration tests
  taskcluster/fxci_config_taskgraph/transforms/integration_test.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

feat: add support for fetching upstream tasks in find_tasks
  taskcluster/fxci_config_taskgraph/transforms/firefoxci_artifact.py
  taskcluster/fxci_config_taskgraph/transforms/integration_test.py
  taskcluster/fxci_config_taskgraph/util/integration.py
  taskcluster/test/test_transforms_firefoxci_artifact.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

feat: add support for optionally mirroring public artifacts in firefoxci-artifact tasks
  taskcluster/fxci_config_taskgraph/transforms/firefoxci_artifact.py
  taskcluster/test/test_transforms_firefoxci_artifact.py
Due: unit-fxci-config-taskgraph

add a schema for the integration test transforms
  taskcluster/fxci_config_taskgraph/transforms/integration_test.py
Due: unit-fxci-config-taskgraph

feat: add translations pipeline integration tests
  taskcluster/kinds/integration-test/kind.yml
Due: unit-fxci-config-taskgraph

set datestamps for all tasks in `find_tasks`
  taskcluster/fxci_config_taskgraph/util/integration.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

remove `REV` from integration test task definitions
  taskcluster/fxci_config_taskgraph/util/integration.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

fix: don't check excludes against attributes unless there's excludes
  taskcluster/fxci_config_taskgraph/util/integration.py
  taskcluster/test/test_transforms_firefoxci_artifact.py
Due: unit-fxci-config-taskgraph

Path conditions:
  unit-build-decision: any of: build-decision/**
  unit-fxci-config-taskgraph: any of: taskcluster/**
