Repository mozilla-releng/fxci-config: changes, and which Taskcluster tasks are due for each by the changed paths.
All: unit-build-decision, unit-fxci-config-taskgraph

unit-build-decision:
  description: Run build-decision `unit tests` to validate the latest changes
  run:
    command: pip install --user -r build-decision/requirements/test.txt && pip install --user --no-deps build-decision/. && pytest build-decision/tests/ -vv

unit-fxci-config-taskgraph:
  description: Run fxci_config_taskgraph unit tests to validate the latest changes
  run:
    command: pip install --user -r requirements/test.txt && pip install --user --no-deps . && pytest taskcluster/test/ -vv

feat: fetch translations artifacts to support pipeline integration tests
  taskcluster/kinds/firefoxci-artifact/kind.yml
Due: unit-fxci-config-taskgraph

feat: add support for fetching upstream tasks in find_tasks
  taskcluster/fxci_config_taskgraph/transforms/firefoxci_artifact.py
  taskcluster/fxci_config_taskgraph/transforms/integration_test.py
  taskcluster/fxci_config_taskgraph/util/integration.py
  taskcluster/test/test_transforms_firefoxci_artifact.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

switch translations GPU workers back to alpha image; enable GPUs
  worker-pools.yml
Due: none

switch translations GPU workers back to alpha image; enable GPUs (#236)
  worker-pools.yml
Due: none

ci: enable verbose logging in Decision task
  .taskcluster.yml
Due: none

ci: log modified worker pools in integration-test optimization
  taskcluster/fxci_config_taskgraph/optimizations.py
Due: unit-fxci-config-taskgraph

ci: delete TASKCLUSTER_PROXY_URL from env when running `tc-admin diff`
  taskcluster/fxci_config_taskgraph/optimizations.py
Due: unit-fxci-config-taskgraph

refactor: rename WorkerImage.image_id to WorkerImage.get
  src/ciadmin/generate/ciconfig/worker_images.py
  src/ciadmin/generate/worker_pools.py
  tests/ciadmin/test_generate_ciconfig_worker_images.py
Due: none

feat: add generic-worker metadata to pool configurations
  environments.yml
  src/ciadmin/generate/worker_pools.py
  tests/ciadmin/test_generate_worker_pools.py
  worker-images.yml
Due: none

feat: return 'None' is last key doesn't exist in cloud config
  src/ciadmin/generate/ciconfig/worker_images.py
Due: none

Update pinned dependencies
  build-decision/requirements/base.txt
  build-decision/requirements/test.txt
  requirements/base.txt
  requirements/local.txt
  requirements/test.txt
Due: unit-build-decision

Require tc-admin 4.0.2
  requirements/base.in
  requirements/base.txt
Due: none

ci: check `tc-admin diff` exit code
  taskcluster/fxci_config_taskgraph/optimizations.py
Due: unit-fxci-config-taskgraph

Update pinned dependencies
  build-decision/requirements/base.txt
  build-decision/requirements/test.txt
  requirements/base.txt
  requirements/local.txt
  requirements/test.txt
  taskcluster/requirements.txt
Due: unit-build-decision, unit-fxci-config-taskgraph

pin-helper: also update taskcluster/requirements.txt
  maintenance/pin-helper.sh
Due: none

Update d2g config for gecko ubuntu24.04 alpha pools
  worker-pools.yml
Due: none

Update d2g config for gecko ubuntu24.04 alpha pools (#239)
  worker-pools.yml
Due: none

feat: add cron hooks for translations pipeline run
  projects.yml
Due: none

feat: add cron hooks for translations pipeline run (#228)
  projects.yml
Due: none

feat: return a default value if key is missing in image.get
  src/ciadmin/generate/ciconfig/worker_images.py
  src/ciadmin/util/templates.py
  tests/ciadmin/test_util_templates.py
Due: none

feat: Bug 1817658 Add tb pushmsix pool
  clients.yml
Due: none

feat: add support for rewriting dependencies to local versions in integration tests
  taskcluster/fxci_config_taskgraph/transforms/integration_test.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

fix: don't check excludes against attributes unless there's excludes
  taskcluster/fxci_config_taskgraph/util/integration.py
Due: unit-fxci-config-taskgraph

feat: add translations pipeline integration tests
  taskcluster/kinds/integration-test/kind.yml
Due: unit-fxci-config-taskgraph

add a schema for the integration test transforms
  taskcluster/fxci_config_taskgraph/transforms/integration_test.py
Due: unit-fxci-config-taskgraph

lower queue inactivity timeout for expensive translations workers
  worker-pools.yml
Due: none

set datestamps for all tasks in `find_tasks`
  taskcluster/fxci_config_taskgraph/util/integration.py
  taskcluster/test/test_transforms_integration_test.py
Due: unit-fxci-config-taskgraph

remove `REV` from integration test task definitions
  taskcluster/fxci_config_taskgraph/util/integration.py
Due: unit-fxci-config-taskgraph

chore(tc-admin): Handle cli params with and without =
  src/ciadmin/boot.py
Due: none

chore(tc-admin): Handle cli params with and without = (#242)
  src/ciadmin/boot.py
Due: none

Path conditions:
  unit-build-decision: any of: build-decision/**
  unit-fxci-config-taskgraph: any of: taskcluster/**
